<div class="container">
  <div class="panel success">
    <div class="panel-body">
      <form class="form-inline">
        <h4>Add new Topic!</h4>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Add new topic" ng-model="$ctrl.newTopic">
        </div>
        <button type="submit" class="btn btn-default" ng-click="$ctrl.addTopic($ctrl.newTopic)">Add</button>
      </form>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <button class="pull-right btn btn-xs" ng-click="$ctrl.getTopics()">
          <span class="glyphicon glyphicon-screenshot text-success">
          </span>
          Reload
        </button>
        Hot Topics
      </div>
      <p ng-if="$ctrl.processing" class="text-danger text">Procesing.....</p>
      <div class="panel-body">
        <ul class="topics list-group">
          <topic
            ng-repeat="topic in $ctrl.topics"
            topic="topic"
          ></topic>
        </ul>
        <p ng-if="!$ctrl.topics.length"> No topics yet!</p>
      </div>
    </div>
</div>


