<div class="list-group-item">
  <div class="row">
    <div class="col-xs-10">
      <p>
        {{$ctrl.topic.text}}</p>
      <span class="glyphicon glyphicon-chevron-up text-success">{{$ctrl.topic.upvotes}}</span>
      <span class="glyphicon glyphicon-chevron-down text-danger">{{$ctrl.topic.downvotes}}</span>
    </div>
    <div class="col-xs-2 pull-right">
      <button class="btn btn-success btn-xs" ng-click="$ctrl.upvote($ctrl.topic)"> Upvote</button> &nbsp;
      <button class="btn btn-warning btn-xs" ng-click="$ctrl.downvote($ctrl.topic)"> Downvote</button>
    </div>
  </div>
</div>

